.burger{
    display: none;
    position: relative;
    width: 35px;
    flex-direction: column;
    gap:0.4rem;
}
.burger-one, .burger-two, .burger-three{
    width: 100%;
    height: 0.2rem;
    background: #fff;
    color: white;
}
.app__header_menu-brilliant{
    display: none;
    width: 40px;
}
@media(max-width: 778px) {
    .burger{
        display: flex;
    }
    .app__header_menu-brilliant{
        display: block;
    }

}