@import './reset.css';
@import './sidebar.css';
@import './content.css';
@import './swiper.css';
@import './info.css';
@import './paralax.css';
@import './burger.css';
body {
    font-family: "Ubuntu", serif;
}

.app {
    position: relative;
    z-index: 1;
}
.app__header{
    display: flex;
    width: 100%;
    background-color: #9564AA ;
    color:white;
    justify-content: space-between;
    align-items: center;
    padding:1.7rem 15% 1.7rem 15%;
}
.app__header_menu, .app__header_button{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}
.app__header_menu{
    gap: 1.5rem;
}
.app__header_button{
    gap: 0.5rem;
}
.app__header_logo{
    font-size:48px;
    font-weight: bold;
}

.app__header_button{
    color:#FFCF2D;
    background-color: #684677 ;
    padding:0.3rem 0.7rem;
    border-radius: 10px;
}

.app__content{
    padding:1.7rem 15% 1.7rem 15%;
}
.app__content-container{
    display: flex;
    gap:1rem;
}
.app__content-main{
    width: 100%;
}
h1{
    font-size: 40px;
    font-weight: bold;
    text-shadow: 4px 4px 0 #00000040;
}
.font-24-bold{
    font-weight: bold;
    font-size: 24px;
}
.app__header_button>img{
    width:20px;
    height:18px;
}
@media (max-width: 1840px){
    .app__content{
        padding:1rem 10%;
    }

}
@media (max-width: 1600px){
    .app__content{
        padding:1rem 5%;
    }

}
@media (max-width: 1400px){
    .app__content{
        padding:1rem 0;
    }

}
@media(max-width: 1300px) {
    .app__content{
        padding:1rem;
    }
}
@media(max-width: 778px) {
    .app__header_menu, .app__header_button, .app__header_logo{
        display: none;
    }
    .app__header{
        padding: 2rem;
    }
    h1{
        font-size: 20px;
        text-shadow: none;
    }
    .app__content-main_title{
        margin-bottom: 1rem;
    }
    .app__content-main_banner, .app__content-main_second-banner{
        display: none;
    }
    .app__content-main_second-banner_second{
        display: flex;
    }


}
.thin{
    font-weight: 300;
}
@media(max-width: 568px) {
    .app_label{
        font-size: 10px;
    }
}